/* font-family: "Changa", sans-serif; titolo
font-family: "Comfortaa", sans-serif; */


:root{
    --or: rgb(255, 134, 5);
    --b: rgb(23,23,23);
    --w:rgb(233,233,233);
}

body{
    font-family: "Comfortaa", sans-serif;
}

.text-or{
    color: var(--or)!important;
}

.text-w{
    color: var(--w);
}

.text-b{
    color: var(--b) !important;
}

.bg-or{
    background-color: var(--or);
}

.bg-b{
    background-color: var(--b);
}

.bg-w{
    background-color: var(--w);
}

.logo{
    height: 60px;
    width: 120px;
}

.navbar{
    transition: 0.4s;
    border-bottom: 5px solid var(--or);
}

.marginNav{
    margin-top: 86px;
}


h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5{
    font-family: "Changa", sans-serif; 
}

.imgHeader{
    background-image: url(./media/ecommerce.png);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.carosello{
    height: 60vh;
    margin-top: 20px;
}

.cardCustom{
    width: 50vw;
    height: 50vh;
}

.imgCard{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -3.125rem 0 0;
}

.footerContatti{
    background-color: #262626;
    
}
.reviewCard{
    width: 80%;
    height: 100%;
    border: 2px solid var(--or);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}

.number{
    font-weight: bold;
    font-size: 40px;
}
.swiper-pagination-bullet{
    display: none;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    margin-top: 250px;
}

.containerForm{
    height: 100%;
}

.btnLogin{
    width: 20vw;
    background-color: transparent;
    border: 1px solid var(--or)
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 5px solid var(--or);
    height: 40vh;
    width: 60vw; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.btnLoginNav{
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid var(--or)
}